<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsingglobal.wares.warescommodityclass.repository.WarescommodityclassRepository">

    <resultMap id="WarescommodityclassDTOResultMap" type="com.tsingglobal.wares.warescommodityclass.dto.WarescommodityclassDTO"></resultMap>

    <sql id="selectSQL">
        select t.id,t.commodityId,t.commodityclassName,t.commodityPropertynum,t.commodityParameternum from wares_commodityclass t
    </sql>

    <select id="load" parameterType="Integer" resultMap="WarescommodityclassDTOResultMap">
        <include refid="selectSQL"></include>
        <where>
            and t.id = #{id,jdbcType=INTEGER}
        </where>
    </select>

    <select id="queryList" parameterType="java.util.Map" resultMap="WarescommodityclassDTOResultMap">
        <include refid="selectSQL" />
        <where>
			1=1
			<if test=""></if>
        </where>
    </select>
    
     <delete id="delete" parameterType="long" >
	    delete from wares_commodityclass where id =#{id,jdbcType=INTEGER}
	  </delete>
	  
	  <update id="update" parameterType="com.tsingglobal.wares.warescommodityclass.dto.WarescommodityclassDTO" >
	  	update wares_commodityclass 
	  	set 
	  	where id= #{id,jdbcType=INTEGER}
	  </update>
	  
	  <insert id="save"   parameterType="com.tsingglobal.wares.warescommodityclass.dto.WarescommodityclassDTO" >
	    insert into wares_commodityclass  (id)
	    values (#{id,jdbcType=INTEGER})
	  </insert>  

</mapper>