<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsingglobal.wares.warescommodityclassparameter.repository.WarescommodityclassparameterRepository">

    <resultMap id="WarescommodityclassparameterDTOResultMap" type="com.tsingglobal.wares.warescommodityclassparameter.dto.WarescommodityclassparameterDTO"></resultMap>

    <sql id="selectSQL">
        select t.id,t.commodityclassId,t.commodityclassParameterCode,t.commodityclassParameterName,t.commodityclassParameterIsmultiselect,t.commodityclassParameterValue,t.commodityclassParameterOrder,t.commodityclassParameterStyle,t.commodityclassParameterIndex,t.commodityclassParameterRelevance,t.commodityclassParameterSelecttype,t.commodityclassParameterInputtype,t.commodityclassParameterAuto from wares_commodityclass_parameter t
    </sql>

    <select id="load" parameterType="Integer" resultMap="WarescommodityclassparameterDTOResultMap">
        <include refid="selectSQL"></include>
        <where>
            and t.id = #{id,jdbcType=INTEGER}
        </where>
    </select>

    <select id="queryList" parameterType="java.util.Map" resultMap="WarescommodityclassparameterDTOResultMap">
        <include refid="selectSQL" />
        <where>
			1=1
			<if test=""></if>
        </where>
    </select>
    
     <delete id="delete" parameterType="long" >
	    delete from wares_commodityclass_parameter where id =#{id,jdbcType=INTEGER}
	  </delete>
	  
	  <update id="update" parameterType="com.tsingglobal.wares.warescommodityclassparameter.dto.WarescommodityclassparameterDTO" >
	  	update wares_commodityclass_parameter 
	  	set 
	  	where id= #{id,jdbcType=INTEGER}
	  </update>
	  
	  <insert id="save"   parameterType="com.tsingglobal.wares.warescommodityclassparameter.dto.WarescommodityclassparameterDTO" >
	    insert into wares_commodityclass_parameter  (id)
	    values (#{id,jdbcType=INTEGER})
	  </insert>  

</mapper>