<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsingglobal.wares.waresbrand.repository.WaresbrandRepository">

    <resultMap id="WaresbrandDTOResultMap" type="com.tsingglobal.wares.waresbrand.dto.WaresbrandDTO"></resultMap>

    <sql id="selectSQL">
        select t.id,t.commodityId,t.brandCode,t.brandName,t.brandFirst,t.brandLogo,t.brandEnlargedview,t.brandStory,t.brandIsshow,t.brandSelf,t.brandOrder from wares_brand t
    </sql>

    <select id="load" parameterType="Integer" resultMap="WaresbrandDTOResultMap">
        <include refid="selectSQL"></include>
        <where>
            and t.id = #{id,jdbcType=INTEGER}
        </where>
    </select>

    <select id="queryList" parameterType="java.util.Map" resultMap="WaresbrandDTOResultMap">
        <include refid="selectSQL" />
        <where>
			1=1
			<if test=""></if>
        </where>
    </select>
    
     <delete id="delete" parameterType="long" >
	    delete from wares_brand where id =#{id,jdbcType=INTEGER}
	  </delete>
	  
	  <update id="update" parameterType="com.tsingglobal.wares.waresbrand.dto.WaresbrandDTO" >
	  	update wares_brand 
	  	set 
	  	where id= #{id,jdbcType=INTEGER}
	  </update>
	  
	  <insert id="save"   parameterType="com.tsingglobal.wares.waresbrand.dto.WaresbrandDTO" >
	    insert into wares_brand  (id)
	    values (#{id,jdbcType=INTEGER})
	  </insert>  

</mapper>